*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  background-color: rgb(230, 236, 237);
}

#root{
  height: 100vh;
}

.navbar{
  min-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px 40px 10px 40px;
  border-radius:30px ;
}


.navbar .logo{
  display: flex;
  align-items: center;
}

.navbar .logo .img{
  width: 40px;
  height: 40px;
  margin-right: 10px;


}

.navbar .logo img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


.navbar .menu{
  width: 800px;
}

.navbar .menu ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;

}

.navbar .menu ul li{
  display: flex;
}

.navbar .menu ul li p{
  margin-left: 5px;
}

.navbar .menu ul li ion-icon{
  font-size: 20px;
}

.navbar .profile_navbar{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .imgProfile{
  width: 40px;
  height: 40px;
}

.navbar .imgProfile img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}






.container{
  margin-top: 5px;
  min-width: 1500px;
  /* height: 100vh; */
  max-height: 1100px;
  background-color: rgb(230, 236, 237);
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  overflow: hidden;
}


.container_products{
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-width: 1150px;
  border-radius: 30px;
  margin-right: 5px;
  padding: 30px;


}

.container_products.active{
  width: calc(100% - 350px);

}

.container_products .search{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_products .search p{
  font-size: 25px;
}
 

.container_products .search .search_btn{
  display: flex;
  align-items: center;
}

.container_products .search .search_btn input{
  width: 350px;
  height: 40px;
  margin-right: 100px;
  padding-left: 45px;
  font-size: 17px;
  border: none;
  border-radius:20px;
  background-color: aliceblue;
  outline: none;
  /* box-shadow: 0 2px 10px rgb(210, 211, 211); */
}
.container_products .search .search_btn ion-icon{
  font-size: 25px;
  color: rgb(167, 168, 169);
  position: absolute;
  margin-left: 10px;
}

.container_products .search .search_btn div{
  background-color: white;
  border-left: 1px solid rgb(210, 211, 211);
  padding-left: 30px;
}


.container_products .search .search_btn div button{
  padding: 0 20px 0 20px;
  font-size: 17px;
  height: 40px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
}


.container_products .categories{
  display: flex;
  justify-content: space-between;
  margin: 30px 0 30px 10px;
}

.container_products .categories ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type:none;
}

.container_products .categories ul li{
  /* margin-right: 30px; */
  font-size: 17px;
  color: rgb(116, 117, 117);
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  cursor:default;
  
}


.container_products .categories ul li:hover{
  color: black;
  transition: 0.4s;
  background-color: rgb(223, 234, 241);

}

.container_products .categories div ul{
  border: 2px solid #c9c9c9;
  border-radius: 25px;
}

.container_products .categories div ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
}

.container_products .categories div ul li:hover{
  background-color:white;
}

.container_products .categories div ul li p{
  margin-right: 5px;
  color: #000;
}

::-webkit-scrollbar {
  width: 3px; 

}

::-webkit-scrollbar-thumb {
  background: #a1a0a0; 
  border-radius: 6px; 
}



.container_products .cards{
  height: 80%;
  padding: 10px;
  background-color: rgb(238, 238, 238);
  display: grid;
  grid-template-columns:repeat(auto-fill,minmax(200px ,230px));
  column-gap: 5px;
  row-gap: 20px;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: scroll;
}


.container_products .cards .cardProduct{  
  background-color: rgb(255, 255, 255);
  height: 300px;
  border-radius: 5px;
  padding: 5px;
  overflow: hidden;
}


.container_products .cards .cardProduct:hover{ 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.322);
}

.container_products .cards .cardProduct .img{
  background-color: #a1a0a0;
  width:100%;
  height: 200px;
  border-radius: 5px;

}

.container_products .cards .cardProduct .img img{
  width: 100%;
  height: 100%;
  border-radius: 5px;

}


.container_products .cards .cardProduct .info{
  background-color: #ffffff;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 5px;
}

 
.container_products .cards .cardProduct .info h4{
  width: 200px;
  height: 20px;
  overflow: hidden;
}



.container_products .cards .cardProduct .info h3{
  width: 200px;
  height: 20px;
  overflow: hidden;

}
 

.container_products .cards .cardProduct .info .stock_sold{

  margin-bottom: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}


.container_products .cards .cardProduct .info .stock_sold p{
  color: #a9a9a9;
}


.container_products .cards .cardProduct .info .stock_sold p p{
  color: #000;
  display: inline;
}


.container_update img{
  width: 100px;
}




.container_update{
  background-color: rgb(255, 255, 255);
  width: 350px;
  min-width: 350px;
  border-radius: 30px;
  padding: 40px 20px 40px 20px;
  overflow: hidden;
  display: none;
}

 

.container_update.active{
  display: block;
}



.container_update .header{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}


.container_update .header p{
  font-size: 20px;
}


.container_update .header div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.container_update .header div h4{
  margin-right: 5px;
  cursor:default;
}

.container_update .header div ion-icon{
  font-language-override: inherit;
}


.container_update .infoProduct{
  background-color: rgb(255, 255, 255);
  height: 100%;
  padding: 5px;
  display: grid;
  align-content: space-between;
}




.container_update .image{
  margin-top: 40px;
}


.container_update .image p{
  font-size: 18px;
  margin: 10px 0 10px 0;
}



.container_update .image div{
  margin: auto;
  max-width: 250px;
  min-width: 100%;
  height: 280px;
  min-height: 50%;
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  /* padding: 10px; */
  /* border: 1px solid rgb(206, 206, 206); */
}



.container_update .image div img{
  /* margin: 10px; */
  width: 100%;
  height: 100%;
  border-radius: 5px;
}


.container_update .inputs {
  margin-top: 20px;
  height: 80%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(206, 206, 206);
}

.container_update .inputs label{
  display: block;
  font-size: 17px;
  margin-left: 5px;
}


.container_update .inputs input{
  display: block;
  height: 40px;
  width: 100%;
  margin: 5px 0 20px 0;
  outline: none;
  padding-left: 10px;
  font-size: 17px;
}


.container_update .inputs textarea{
  width: 100%;
  height: 150px;
  font-size: 15px;
  padding: 10px;
  margin: 5px 0 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}


.container_update .inputs .employees{
  margin-top: 5px;
  background-color: rgb(255, 255, 255);
  height: 180px;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid rgb(176, 178, 178);
}

.container_update .inputs .employees .employee{
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 10px;
}
.container_update .inputs .employees .employee:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

.container_update .inputs .employees .employee:hover small{
  color: #000;
}


.container_update .inputs .employees .employee .name{
  background-color: #e8e8e8;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 15px;
}











.container_update .btn{
  display: flex;
  justify-content: space-between;
  /* margin-top: 10px; */
  padding: 0 10px;
}

.container_update .btn button{
  width: 48%;
  height: 40px;
  border-radius: 20px;
}

.container_update .btn button:first-child{
  background-color: #ffffff;
  border: 1px solid rgb(167, 168, 169);
}

.container_update .btn button:last-child{
  background-color: #000000;
  color: #ffffff;
}


.menuFooter{
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  height: 40px;
  padding: 0 50px 0 20px;
  box-shadow: 0 1px 10px rgba(116, 117, 117, 0.478);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

.menuFooter ul{
  width: 20%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  height: fit-content;
}

.menuFooter ul li:first-child{

}

